@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;700&display=swap");
/* Base Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto";
  background-color: #000;
  color: #fff;
  position: relative;
  letter-spacing: 1px;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

/* Transition Loading */
#transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
  display: flex;
  align-items: end;
  justify-content: start;
  color: #fff;
}

#loading-text {
  margin: 100px;
  font-size: 48px;
  font-weight: bold;
}

/* Text Focus In Animation */
.text-focus-in {
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@keyframes text-focus-in {
  0%, 100% {
    filter: blur(8px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 1;
  }
}
/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-image-container {
  width: 100px;
  margin: 40px;
}

.nav-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-right: 60px;
  font-size: 0.9rem;
  font-weight: 300;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-active {
  border-bottom: 1px white solid;
}

/* Hero Section */
.wrapper {
  overflow-x: hidden;
  position: relative;
}

/* SVG Animation */
svg {
  position: absolute;
  top: 12em;
  left: 50vw;
  width: 50vw;
  transform: translateX(-30%) scaleY(0.8) scaleY(0.5);
}

.svg-container {
  position: absolute;
  bottom: 36.6666666667%;
}

/* Container for the Video/Text */
.container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.container .col {
  display: flex;
  gap: 3em;
}

.container .col p {
  font-size: 0.8rem;
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  pointer-events: none;
  z-index: 999;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
}

.container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}

/* Video Section */
section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 36.5vw;
  height: 36.5vw;
  min-height: 420px;
  padding-top: 92px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.image-container video {
  display: block;
  width: 100%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.image-container video::-webkit-media-controls,
.image-container video::-webkit-media-controls-start-playback-button,
.image-container video::-webkit-media-controls-play-button,
.image-container video::--moz-media-controls {
  display: none !important;
}

/* Text Section */
.text-container {
  margin-top: 1rem;
  margin-left: 3rem;
}

.text-container h2 {
  transform: scaleY(0.9) scaleX(1.1);
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  font-size: 1.5vw;
}

.text-container p {
  transform: scaleY(0.9) scaleX(1.1);
  margin-top: 0.4rem;
  opacity: 0.25;
  font-size: 1vw;
  font-weight: 300;
}

img {
  width: 100%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* Hover Effect */
.dimmed {
  opacity: 0.5;
}

/* Contact Page */
.contact-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contact-hello {
  position: absolute;
  font-weight: bold;
  font-size: 12rem;
  color: #202020;
  z-index: 100;
  top: 15vh;
  left: 21.5vw;
}

.contact-image-container {
  position: relative;
  width: 90%;
  height: 80%;
  margin: auto;
}

.contact-image {
  position: absolute;
  border-radius: 2px;
  left: 0;
  top: 0;
  width: auto;
  opacity: 0.9;
  height: 100%;
}

.contact-text-container {
  position: absolute;
  top: 300px;
  left: 600px;
  width: 200px;
  font-size: 0.75rem;
  opacity: 0.5;
}

.contact-details a {
  text-decoration: none;
  color: #fff;
}

.contact-socials-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-socials img {
  width: 20px;
  margin-top: 5px;
  margin-right: 8px;
}

/* Footer Section */
footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  bottom: 0;
  color: #fff;
  height: 60px;
  z-index: 100;
}

footer .socials,
.rights {
  margin: 0 50px;
  font-weight: 300;
  opacity: 0.5;
  font-size: 0.9rem;
}

.footer-links {
  color: #fff;
}

.footer-links:first-child::before {
  content: "|";
  margin: 0 10px;
}

.footer-links::after {
  content: "|";
  margin: 0 10px;
}

.footer-links:last-child::after {
  content: "";
}

/* Media Query for screens 960px or less in width */
@media (max-width: 960px) {
  .container {
    flex-direction: column;
  }
  .svg-container {
    display: none;
  }
  .wrapper {
    overflow-y: auto;
    height: auto;
  }
  section {
    height: 100% !important;
    align-items: center;
  }
  .image-container {
    position: relative;
    width: 100vw;
    padding-top: 0;
  }
  .image-container video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .text-container {
    position: absolute;
    bottom: 20%;
    left: 5%;
    margin-left: 3rem;
  }
  .text-container h2 {
    font-size: 7vw;
  }
  .text-container p {
    margin-left: 0.2rem;
    opacity: 0.9;
    font-size: 3.5vw;
  }
  .contact-hello {
    font-size: 8rem;
  }
  .contact-image-container {
    width: 100%;
    height: 100%;
  }
  .contact-image {
    opacity: 0.7;
    height: 100%;
  }
  .contact-text-container {
    left: 200px;
    opacity: 1;
  }
  footer {
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    padding: 0 10px;
  }
}/*# sourceMappingURL=style.css.map */